body{
  /* background-color: pink; */
} 
h1{
  font-family: cursive;
}
.hero{
  color:  #4b5563;
  font-weight: 500;
}
.link{
  text-decoration: none;
  background-color: #6d89b0;
  /* font-family: ; */
}
.lin{
  text-decoration: none;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  /* background-color: bisque; */
}
.left{
  background-color: bisque;
}
p{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
}
.right{
  background-color: rgb(142, 162, 179);
}